
	<html>
	<head>
		
		<link rel="stylesheet" href="stylesheets/bluprint/screen.css" type="teaxt/css" media="screen, projection">

<link rel="stylesheet" href="stylesheets/bluprint/print.css" type="teaxt/css" media="print">
 
<!-[if IE]><link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]->

	</head>
	
	<body>
		
		<h1>Contact</h1>
<p>Contact Ruby on Rails Tutorial about the sample app at the  <a href="http://railstutorial.org/fedback">feedback pages</a></p>

	</body>
</html>
		
