<html>
	<head>
		
		
	</head>
	
	<body>
		
		<h1>Help</h1>
<p>Get help on on Ruby on rails Tutorials at the <a href="http://railstutorial.org/help">Rails Tutorials help page</a>To get help on this sample app, see the <a href="http://railstutorials.org/">rails Tutorials Book</a></p>

	</body>
</html>
		